<div class="wrapper">
<div class="content">
<h1 class="headline">Tracker</h1>
<p id="notice"><%= notice %></p>
<div class="tracker_box">
<p>
  <span style="color:black">Name:</span>
  <b><%= @tracker.name %></b>
</p>

<p>
  <span style="color:black">Pivotal token:</span>
  <b><%= @tracker.pivotal_token %></b>
</p>
</div>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
</div>
</div>